/* Add mobile styles for the component here.  */
FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
}
StackLayout {
    width: 300;
    padding: 10 16;
    background-color: #f0f0f0;

    border-color: #C4AFB4;
    border-width: 0.5;
    border-radius: 10;

    opacity: 0.8;
}

Image {
    margin-bottom: 10;
    margin-top: 2;
    width: 20%;
    /*height: 50;*/
}
Button, TextField {
    margin-bottom: 10;
}
.btn-primary {
    background-color: #8b008b;
    margin-left: 0;
    margin-right: 0;
}
TextField {
    placeholder-color: #C4AFB4;
    color: black;
    text-align: center;
    border-color: #C4AFB4;
    border-width: 1;
    border-radius: 10;
    background-color: #FFFFFF;
    height: 40;
    padding: 0px;
}

Button{
    text-transform: none;
}

Label{
    text-align: center;
    font-style: italic;
}

.title{
    visibility: hidden;
}

.register-input{
    visibility: collapse;
}

.btn-inscrition{
    color: darkmagenta;
    background-color: #FFFFFF;
}

.txt-link{
    color: darkmagenta;
    text-align: right;
}
