<ActionBar title="Enigmot">
    <ActionItem tap="onShare"
                ios.systemIcon="9" ios.position="left"
                android.systemIcon="ic_menu_share" android.position="actionBar"></ActionItem>
    <ActionItem tap="onDelete"
                ios.systemIcon="16" ios.position="right"
                text="option" android.position="popup">

    </ActionItem>
</ActionBar>
<BottomNavigation selectedIndex="0">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <TabStripItem>
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Account"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="special">
            <Label text="Search"></Label>
            <Image src="font://&#xf00e;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <ScrollView>
            <StackLayout>
                <Image src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                       class="img-enigme"></Image>
                <Label text="Voici le guide l'énigme en question" class="text-center"></Label>
                <StackLayout orientation="horizontal">
                    <Image row="0" col="0" src="font://&#xf00e;" class="fas t-36" width="10"></Image>
                </StackLayout>
                <Image src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></Image>
                <Image src="https://images.pexels.com/photos/257360/pexels-photo-257360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></Image>
            </StackLayout>
        </ScrollView>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Search Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>

</BottomNavigation>
